body {
  padding: 25px;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.number-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
.num-span {
  padding: 15px;
  min-width: 20px;
  text-align: center;
  border: solid 1px black;
  border-radius: 50px;
  background-color: antiquewhite;
  font-weight: bold;
}
.stepName-span {
  font-size: 18px;
  font-weight: 600;
}
.progress-bar-div {
  width: 70%;
  height: 20px;
  padding-left: 20px;
  /* background-color: green; */
  position: absolute;
  top: 40px;
}
.progress-div {
  background-color: green;
  height: 100%;
  transition: transform 0.5s;
  transform-origin: left;
}
.next-button {
  padding: 10px 20px;
  border-radius: 8px-;
  cursor: pointer;
}
.step-complete {
  background-color: green;
  border: none;
  color: white;
}
